#theForm {
  position: relative;
  
}

#paymentInfo {
  position: absolute;
    left: 0;
}
#addressInfo {
  position: absolute;
    right: 0;
}
#cancelButton {
  position: absolute;
    bottom: 0;
}
.hps-form-group {
  position: absolute;
  top: 150px;
    /* margin: auto; */
  left: 200px;
}
